.container{
    margin: 0px;
    padding:0px ;
    background-image: linear-gradient(130deg,  rgb(26, 131, 52),rgb(119, 0, 255));
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
}
.sub-container{
    width: 60%;
    display: flex;
padding-top: 250px;
margin: 0px auto;
text-align: center;
}
.sub-container div{
    margin: 10px;
}